!!!
%html
  %head
    %meta(charset="UTF-8")
    %title= page_title
    %meta(name="viewport" content="width=device-width" initial-scale="1.0")
    %link(href="vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet" media="screen")
    %link(href="css/grnbrowse.css" rel="stylesheet" media="screen")
    %link(rel="shortcut icon" type="image/vnd.microsoft.icon" href="favicon.ico")
  %body
    .container
      = yield
